# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @skethirajan will be requested for
# review when someone opens a pull request.

*       @skethirajan

# Define specific owners for different parts of the repo if needed
# docs/  @skethirajan
# tests/ @skethirajan
